<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<title>Change password</title>
</head>
<body>

	<section id="loginSection">
		<h1>Change password</h1>
		<div align="center">
			<form id="gizmo-form" role="form" th:action="@{/changingPassword}"
				method="post" th:object="${gizmo}">
				<div id="field1DIV">
					<label class="etiqueta_password_change" for="field1">Password:
					</label> <input type="password" id="field1" name="field1"
						th:field="${gizmo.field1}" />
				</div>
				<div id="buttonDIV">
					<button class="boton_save" type="submit" id="button">SAVE</button>
				</div>
			</form>
		</div>
	</section>
	
	<a href="InfoPage.html" class="ref_return">&#8617;</a> 
</body>
</html>