<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<head th:replace="fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:replace="fragments/header :: cabecera"></div>

	<div align="center">

			<a id="modificar_elecciones" href="WelcomePage.html" title="Añadir elecciones"> <i
				class="material-icons">mode_edit</i></a>
				
			<a id="votar" href="WelcomePage.html" title="Votar"><i
				class="material-icons">email</i></a> 


			<a id="resultados" href="showResults.html" title="Resultados"><i
				class="material-icons">visibility</i></a> 


	</div>
</body>
</html>